apiVersion: batch/v1
kind: Job
metadata:
  name: {{ jobName }}
  labels:
    dummysite: "{{ containerName }}"
    website_url: "{{ website_url }}"
spec:
  template:
    spec:
      containers:
      - name: {{ containerName }}
        image: {{{ image }}}
        imagePullPolicy: Always
        env:
        - name: website_url
          value: "{{ website_url }}"
      restartPolicy: Never